<template>
  <div id="navi">
    <div>
      <nav class="navbar navbar-expand-lgnavbar-dark bg-dark">
        <a class="navbar-brand" href="/">Robinson's Health Center</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarColor01"
          aria-controls="navbarColor01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
    </div>
  </div>
</template>

<style scoped>
#navbaritem {
  margin-left: 85%;
}
</style>

<script>
export default {
  name: "navi",
  data() {
    return {};
  },
};
</script>